@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body {
    background-color: hsl(212, 45%, 89%);
}

.wrapper {
    display: row;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    margin: auto;
    margin-top: 2em;
}
.qr-code {
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    margin: auto;
}

.card {
    text-align: center;
    margin-top: 1em;
}

.container {
    padding: 1em;
}

.card-title {
    font-family: Outfit;
    font-weight: 700;
    font-size: 18px;
}

.card-body {
    color: gray;
    font-family: Outfit;
    font-weight: 400;
    margin-top: 1em;
}

@media (min-width: 1440px) {
    .qr-code {
        width: 340px;
    }
    .wrapper {
        width: 23.25em;
        margin-top: 8em;
        margin-bottom: 1em;
    }
}

/*Footer*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}